

# temp
temp/*
build/*
bin/*
dist/*


# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# env - 環境変数
env/**
!.env.*.default